<div class="container my-5">
  <div class="alert alert-warning text-center" role="alert">
    <h4 class="alert-heading"><i class="fas fa-exclamation-triangle me-2"></i>Yêu cầu bắt đầu ca làm việc</h4>
    <p>Bạn là nhân viên. Vui lòng <a href="/shifts" class="btn btn-success btn-lg ms-2">bắt đầu ca</a> để tiếp tục sử dụng hệ thống.</p>
  </div>
</div>